html,
body {
    /*margin: 0;*/
    height: 100%;
}

body {
    background-color: #333;
}

body.hide-overflow {
    overflow: hidden;
}

#flipbook {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/* helpers */
.book-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.book-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}


/* book */

.book {
    display: none;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
    height: 100%;
}

.book .page img {
    /*max-width: 100%;
    height: 100%;*/
    max-height: 100%;
    width: 100%;
}