extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.facebook.firstName}. Check your details below:
						div.signup-wall
							ul.user-details
									li Email    ---> #{ user.facebook.email }
									li First Name ---> #{ user.facebook.firstName } 
									li Last Name ---> #{ user.facebook.lastName }
								
						a(href='/signout', class='text-center new-account') Sign Out
	script.
		if (window.location.hash == '#_=_')
			window.location.href = window.location.href.split('#')[0];
