extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-3.col-md-offset-4
				img(src='/stylesheets/images/passportjs-logo.png', class='logo-img')
				h1.text-center.login-title Sign in to our Passport app
				a(href='/facebook/signin', class='btn btn-block btn-social btn-facebook') Login with Facebook
					i(class='fa fa-facebook')
				a(href='/twitter/signin', class='btn btn-block btn-social btn-twitter') Login with Twitter
					i(class='fa fa-twitter')
				a(href='/local/signin', class='btn btn-block btn-social btn-primary') Login Locally
					i(class='fa fa-sign-in')
