svg#msd(data-name='msd', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 878.74 226.77')
    defs
        style.
            .cls-1{fill:#fff;}.cls-2{fill:#009e96;}.cls-3{fill:#009994;}.cls-4{fill:#243444;}.cls-5{fill:#231f20;}
    title AF_autocolante
    rect.cls-1(width='878.74', height='226.77')
    path.cls-2(d='M252.41,126h-7.35V97.46h-9.42V91.34h26.19v6.12h-9.42Z')
    path.cls-2(d='M275.21,126.5q-6.41,0-10-3.54t-3.61-10q0-6.67,3.33-10.31T274.14,99q5.62,0,8.76,3.2t3.13,8.85v3.51H268.92a7,7,0,0,0,1.83,4.82,6.43,6.43,0,0,0,4.79,1.73,19.86,19.86,0,0,0,4.53-.5,22.62,22.62,0,0,0,4.46-1.59v5.6a16.94,16.94,0,0,1-4.06,1.41A25.55,25.55,0,0,1,275.21,126.5Zm-1-22.35a4.59,4.59,0,0,0-3.61,1.46,6.75,6.75,0,0,0-1.49,4.14h10.16a6,6,0,0,0-1.4-4.14A4.74,4.74,0,0,0,274.19,104.15Z')
    path.cls-2(d='M315.66,126h-7.24V110.53a7.8,7.8,0,0,0-1-4.31,3.38,3.38,0,0,0-3-1.44,4.38,4.38,0,0,0-4,2q-1.26,2-1.26,6.72V126h-7.24V99.5h5.53l1,3.39h.4A7.36,7.36,0,0,1,301.9,100a10,10,0,0,1,4.63-1q6,0,8.07,3.89h.64a7.17,7.17,0,0,1,3.14-2.87,10.48,10.48,0,0,1,4.69-1q4.51,0,6.82,2.31t2.31,7.41V126h-7.26V110.53a7.8,7.8,0,0,0-1-4.31,3.38,3.38,0,0,0-3-1.44,4.51,4.51,0,0,0-4,1.9q-1.32,1.9-1.32,6Z')
    path.cls-2(d='M369.09,126l-1.4-3.61h-.19a10.69,10.69,0,0,1-3.76,3.19,12.16,12.16,0,0,1-5,.89,8.15,8.15,0,0,1-6-2.18,8.38,8.38,0,0,1-2.19-6.22,7,7,0,0,1,3-6.23q3-2,8.91-2.22l4.6-.14v-1.16q0-4-4.13-4a18.81,18.81,0,0,0-7.47,1.92l-2.4-4.89A21.56,21.56,0,0,1,363.11,99q5.34,0,8.19,2.33t2.85,7.07V126ZM367,113.73l-2.8.09a9,9,0,0,0-4.7,1.14,3.58,3.58,0,0,0-1.54,3.18q0,3.06,3.51,3.06a5.56,5.56,0,0,0,4-1.45,5.08,5.08,0,0,0,1.51-3.84Z')
    path.cls-2(d='M574.9,100.4l-.31-.15-21.91-9.45a5.2,5.2,0,0,0-4-.06l-13.15,5.18-13.15-5.18a5.19,5.19,0,0,0-3.81,0l-13.15,5.18-13.15-5.18a5.19,5.19,0,0,0-3.81,0L479,94.5a42.33,42.33,0,1,0,.78,33.83h88.4a14.78,14.78,0,0,0,6.75-27.93Zm-6.75,17.55H476.08a5.2,5.2,0,0,0-5,3.68A31.92,31.92,0,1,1,471,102.8a5.19,5.19,0,0,0,6.86,3.29l12.5-4.92,13.15,5.18a5.18,5.18,0,0,0,3.8,0l13.15-5.18,13.15,5.18a5.19,5.19,0,0,0,3.81,0l13.05-5.14,19.75,8.51a4.4,4.4,0,0,1-2.13,8.24Zm0,0')
    circle.cls-2(cx='429.41', cy='112.32', r='8.64')
    path.cls-2(d='M36.4,143.63l-1.88-5.4h0q.08,1.2.08,2.26v3.15h-1v-6.47h1.49l1.8,5.14h0l1.85-5.14h1.5v6.47h-1v-3.2c0-.32,0-.74,0-1.26s0-.83,0-.94h0l-1.94,5.39Z')
    path.cls-2(d='M45.69,141.87a1.63,1.63,0,0,1-.62,1.35,2.71,2.71,0,0,1-1.72.49,4.11,4.11,0,0,1-1.8-.34v-1a4.85,4.85,0,0,0,.94.33,4,4,0,0,0,.93.12,1.47,1.47,0,0,0,.93-.24.78.78,0,0,0,.3-.64.8.8,0,0,0-.27-.61,4.07,4.07,0,0,0-1.13-.6,3,3,0,0,1-1.25-.82,1.73,1.73,0,0,1-.36-1.1,1.55,1.55,0,0,1,.58-1.27,2.39,2.39,0,0,1,1.54-.46,4.53,4.53,0,0,1,1.85.41l-.34.86a4,4,0,0,0-1.54-.36,1.18,1.18,0,0,0-.78.22.73.73,0,0,0-.27.59.83.83,0,0,0,.11.43,1.09,1.09,0,0,0,.35.34A6,6,0,0,0,44,140a4.72,4.72,0,0,1,1,.55,1.63,1.63,0,0,1,.49.58A1.75,1.75,0,0,1,45.69,141.87Z')
    path.cls-2(d='M52.2,140.33a3.23,3.23,0,0,1-.89,2.45,3.57,3.57,0,0,1-2.56.85H46.94v-6.47h2a3.31,3.31,0,0,1,2.4.83A3.1,3.1,0,0,1,52.2,140.33Zm-1.11,0q0-2.32-2.17-2.32H48v4.69h.75A2.08,2.08,0,0,0,51.09,140.37Z')
    path.cls-2(d='M60,143.63l-.65-1.8H56.84l-.63,1.8H55.09l2.42-6.49h1.15l2.42,6.49ZM59,140.92l-.61-1.76c0-.12-.11-.3-.18-.56s-.13-.44-.16-.56a10,10,0,0,1-.35,1.19l-.58,1.68Z')
    path.cls-2(d='M66.12,143.63h-1v-3a1.31,1.31,0,0,0-.23-.84.88.88,0,0,0-.72-.28,1.15,1.15,0,0,0-1,.39,2.14,2.14,0,0,0-.3,1.3v2.44h-1v-4.89h.81l.15.64h.05a1.44,1.44,0,0,1,.63-.54,2.1,2.1,0,0,1,.9-.19,1.57,1.57,0,0,1,1.76,1.79Z')
    path.cls-2(d='M67.51,137.44a.57.57,0,0,1,.15-.43.59.59,0,0,1,.44-.15.53.53,0,0,1,.58.58.57.57,0,0,1-.15.42.58.58,0,0,1-.43.15.6.6,0,0,1-.44-.15A.57.57,0,0,1,67.51,137.44Zm1.1,6.19h-1v-4.89h1Z')
    path.cls-2(d='M74.22,143.63h-1v-3a1.37,1.37,0,0,0-.21-.84.78.78,0,0,0-.66-.28,1,1,0,0,0-.88.39,2.29,2.29,0,0,0-.28,1.3v2.44h-1v-4.89h.81l.15.64h.05a1.35,1.35,0,0,1,.59-.54,1.9,1.9,0,0,1,.85-.19,1.49,1.49,0,0,1,1.49.77h.07a1.5,1.5,0,0,1,.61-.57,2,2,0,0,1,.9-.2,1.64,1.64,0,0,1,1.28.44,2,2,0,0,1,.4,1.35v3.19h-1v-3a1.35,1.35,0,0,0-.21-.84.79.79,0,0,0-.67-.28,1,1,0,0,0-.89.38,2,2,0,0,0-.28,1.16Z')
    path.cls-2(d='M81.82,143.63l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89v-.42l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,80.27,142.92Z')
    path.cls-2(d='M85.05,143.63H84v-6.88h1Z')
    path.cls-2(d='M94.1,143.63H93v-2.92h-3v2.92H89v-6.47h1.06v2.65h3v-2.65H94.1Z')
    path.cls-2(d='M97.83,143.71A2.37,2.37,0,0,1,96,143a2.53,2.53,0,0,1-.64-1.83,2.77,2.77,0,0,1,.6-1.88,2.06,2.06,0,0,1,1.64-.69,2,2,0,0,1,1.53.59,2.25,2.25,0,0,1,.56,1.62v.56H96.47a1.6,1.6,0,0,0,.38,1.09,1.34,1.34,0,0,0,1,.38,3.76,3.76,0,0,0,.81-.08,4.14,4.14,0,0,0,.8-.27v.84a3.2,3.2,0,0,1-.77.26A4.72,4.72,0,0,1,97.83,143.71Zm-.19-4.28a1,1,0,0,0-.79.31,1.5,1.5,0,0,0-.36.92h2.22a1.35,1.35,0,0,0-.29-.92A1,1,0,0,0,97.64,139.43Z')
    path.cls-2(d='M104,143.63l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89v-.42l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,102.43,142.92Z')
    path.cls-2(d='M107.21,143.63h-1v-6.88h1Z')
    path.cls-2(d='M110.52,142.87a2.51,2.51,0,0,0,.76-.12v.78a2.11,2.11,0,0,1-.44.13,3,3,0,0,1-.56.05q-1.48,0-1.48-1.56v-2.64h-.67v-.46l.72-.38.35-1h.64v1.09h1.39v.79h-1.39v2.62a.73.73,0,0,0,.19.55A.69.69,0,0,0,110.52,142.87Z')
    path.cls-2(d='M116.56,143.63h-1v-3a1.31,1.31,0,0,0-.23-.84.88.88,0,0,0-.72-.28,1.15,1.15,0,0,0-1,.39,2.15,2.15,0,0,0-.31,1.31v2.43h-1v-6.88h1v1.75a8.17,8.17,0,0,1-.05.9h.07a1.45,1.45,0,0,1,.59-.55,1.92,1.92,0,0,1,.88-.19,1.58,1.58,0,0,1,1.78,1.79Z')
    path.cls-2(d='M120.47,143.63v-6.47h1.06v5.56h2.74v.91Z')
    path.cls-2(d='M126.92,143.71a1.71,1.71,0,0,1-1.43-.66,3.64,3.64,0,0,1,0-3.74,1.72,1.72,0,0,1,1.44-.67,1.69,1.69,0,0,1,1.47.71h.05a6.24,6.24,0,0,1-.08-.83v-1.78h1v6.88h-.81l-.18-.64h0A1.66,1.66,0,0,1,126.92,143.71Zm.28-.84a1.13,1.13,0,0,0,.93-.36,1.9,1.9,0,0,0,.3-1.17v-.15a2.19,2.19,0,0,0-.3-1.31,1.11,1.11,0,0,0-.94-.39,1,1,0,0,0-.84.45,2.28,2.28,0,0,0-.3,1.27,2.23,2.23,0,0,0,.29,1.24A1,1,0,0,0,127.2,142.87Z')
    path.cls-2(d='M134,143.63l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89v-.42l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,132.42,142.92Z')
    path.cls-2(d='M136,143.07a.68.68,0,0,1,.17-.5.65.65,0,0,1,.49-.17.64.64,0,0,1,.49.18.69.69,0,0,1,.17.49.7.7,0,0,1-.17.5.74.74,0,0,1-1,0A.71.71,0,0,1,136,143.07Z')
    path.cls-2(d='M39.34,151.25a4,4,0,0,1-.45,2,2.46,2.46,0,0,1-1.31,1.13L39.13,156H37.71l-1.22-1.45h-.17a2.87,2.87,0,0,1-2.25-.87,3.56,3.56,0,0,1-.79-2.47,3.51,3.51,0,0,1,.79-2.46,2.91,2.91,0,0,1,2.25-.86,2.85,2.85,0,0,1,2.23.87A3.53,3.53,0,0,1,39.34,151.25Zm-4.94,0a2.9,2.9,0,0,0,.48,1.81,2,2,0,0,0,2.85,0,3.67,3.67,0,0,0,0-3.62,1.68,1.68,0,0,0-1.42-.61,1.72,1.72,0,0,0-1.43.61A2.87,2.87,0,0,0,34.41,151.25Z')
    path.cls-2(d='M44.07,154.5l-.15-.64h-.05a1.47,1.47,0,0,1-.62.53,2.06,2.06,0,0,1-.91.19,1.79,1.79,0,0,1-1.33-.44,1.83,1.83,0,0,1-.44-1.34v-3.2h1v3a1.31,1.31,0,0,0,.23.84.88.88,0,0,0,.72.28,1.15,1.15,0,0,0,1-.39,2.16,2.16,0,0,0,.31-1.31v-2.44h1v4.89Z')
    path.cls-2(d='M46.31,148.31a.57.57,0,0,1,.15-.43.59.59,0,0,1,.44-.15.53.53,0,0,1,.58.58.57.57,0,0,1-.15.42.58.58,0,0,1-.43.15.6.6,0,0,1-.44-.15A.57.57,0,0,1,46.31,148.31Zm1.1,6.19h-1v-4.89h1Z')
    path.cls-2(d='M53.2,154.5h-1v-3a1.31,1.31,0,0,0-.23-.84.88.88,0,0,0-.72-.28,1.15,1.15,0,0,0-1,.39,2.14,2.14,0,0,0-.3,1.3v2.44h-1v-4.89h.81l.15.64h.05a1.44,1.44,0,0,1,.63-.54,2.1,2.1,0,0,1,.9-.19,1.57,1.57,0,0,1,1.76,1.79Z')
    path.cls-2(d='M56.47,153.74a2.51,2.51,0,0,0,.76-.12v.78a2.11,2.11,0,0,1-.44.13,3,3,0,0,1-.56.05q-1.48,0-1.48-1.56v-2.64h-.67v-.46l.72-.38.35-1h.64v1.09h1.39v.79H55.79V153a.73.73,0,0,0,.19.55A.69.69,0,0,0,56.47,153.74Z')
    path.cls-2(d='M61.27,154.5l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41A1.59,1.59,0,0,1,62,151.2v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89v-.42l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,59.72,153.79Z')
    path.cls-2(d='M67.46,154.58a1.71,1.71,0,0,1-1.43-.66,3.64,3.64,0,0,1,0-3.74,1.72,1.72,0,0,1,1.44-.67,1.69,1.69,0,0,1,1.47.71H69a6.24,6.24,0,0,1-.08-.83v-1.78h1v6.88h-.81l-.18-.64h0A1.66,1.66,0,0,1,67.46,154.58Zm.28-.84a1.13,1.13,0,0,0,.93-.36,1.9,1.9,0,0,0,.3-1.17v-.15a2.19,2.19,0,0,0-.3-1.31,1.11,1.11,0,0,0-.94-.39,1,1,0,0,0-.84.45,2.28,2.28,0,0,0-.3,1.27,2.23,2.23,0,0,0,.29,1.24A1,1,0,0,0,67.74,153.74Z')
    path.cls-2(d='M74.52,154.5l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29ZM73,153.79a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89v-.42l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,73,153.79Z')
    path.cls-2(d='M80.23,154.5h-1V148h3.65v.89h-2.6v2h2.44v.9H80.23Z')
    path.cls-2(d='M88.23,152a2.66,2.66,0,0,1-.61,1.87,2.2,2.2,0,0,1-1.71.67,2.34,2.34,0,0,1-1.21-.31,2,2,0,0,1-.81-.89A3,3,0,0,1,83.6,152a2.66,2.66,0,0,1,.61-1.86,2.21,2.21,0,0,1,1.72-.67,2.16,2.16,0,0,1,1.68.68A2.64,2.64,0,0,1,88.23,152Zm-3.56,0q0,1.69,1.25,1.69T87.16,152q0-1.68-1.25-1.68a1.06,1.06,0,0,0-.95.43A2.2,2.2,0,0,0,84.67,152Z')
    path.cls-2(d='M93.73,154.5h-1v-3a1.31,1.31,0,0,0-.23-.84.88.88,0,0,0-.72-.28,1.15,1.15,0,0,0-1,.39,2.14,2.14,0,0,0-.3,1.3v2.44h-1v-4.89h.81l.15.64h.05a1.44,1.44,0,0,1,.63-.54,2.1,2.1,0,0,1,.9-.19,1.57,1.57,0,0,1,1.76,1.79Z')
    path.cls-2(d='M97,153.74a2.51,2.51,0,0,0,.76-.12v.78a2.11,2.11,0,0,1-.44.13,3,3,0,0,1-.56.05q-1.48,0-1.48-1.56v-2.64H94.6v-.46l.72-.38.35-1h.64v1.09h1.39v.79H96.31V153a.73.73,0,0,0,.19.55A.69.69,0,0,0,97,153.74Z')
    path.cls-2(d='M100.87,154.58a2.37,2.37,0,0,1-1.78-.66,2.53,2.53,0,0,1-.64-1.83,2.77,2.77,0,0,1,.6-1.88,2.06,2.06,0,0,1,1.64-.69,2,2,0,0,1,1.53.59,2.25,2.25,0,0,1,.56,1.62v.56H99.51a1.6,1.6,0,0,0,.38,1.09,1.34,1.34,0,0,0,1,.38,3.76,3.76,0,0,0,.81-.08,4.14,4.14,0,0,0,.8-.27v.84a3.2,3.2,0,0,1-.77.26A4.72,4.72,0,0,1,100.87,154.58Zm-.19-4.28a1,1,0,0,0-.79.31,1.5,1.5,0,0,0-.36.92h2.22a1.35,1.35,0,0,0-.29-.92A1,1,0,0,0,100.68,150.3Z')
    path.cls-2(d='M37.26,165.37H33.6V158.9h3.66v.89h-2.6v1.76h2.44v.89H34.66v2h2.6Z')
    path.cls-2(d='M40.2,165.45a1.71,1.71,0,0,1-1.43-.66,3.64,3.64,0,0,1,0-3.74,1.72,1.72,0,0,1,1.44-.67,1.69,1.69,0,0,1,1.47.71h.05a6.24,6.24,0,0,1-.08-.83v-1.78h1v6.88h-.81l-.18-.64h0A1.66,1.66,0,0,1,40.2,165.45Zm.28-.84a1.13,1.13,0,0,0,.93-.36,1.9,1.9,0,0,0,.3-1.17v-.15a2.19,2.19,0,0,0-.3-1.31,1.11,1.11,0,0,0-.94-.39,1,1,0,0,0-.84.45,2.28,2.28,0,0,0-.3,1.27,2.23,2.23,0,0,0,.29,1.24A1,1,0,0,0,40.47,164.61Z')
    path.cls-2(d='M44.13,159.18a.57.57,0,0,1,.15-.43.59.59,0,0,1,.44-.15.53.53,0,0,1,.58.58.57.57,0,0,1-.15.42.58.58,0,0,1-.43.15.6.6,0,0,1-.44-.15A.57.57,0,0,1,44.13,159.18Zm1.1,6.19h-1v-4.89h1Z')
    path.cls-2(d='M49.17,161.26H48v4.1h-1v-4.1h-.8v-.49l.8-.32v-.32a1.78,1.78,0,0,1,.41-1.29,1.67,1.67,0,0,1,1.24-.42,3.32,3.32,0,0,1,1.08.18l-.27.79a2.38,2.38,0,0,0-.73-.12.6.6,0,0,0-.51.22,1.1,1.1,0,0,0-.16.66v.32h1.19Z')
    path.cls-2(d='M49.85,164.81a.68.68,0,0,1,.17-.5.65.65,0,0,1,.49-.17.64.64,0,0,1,.49.18.69.69,0,0,1,.17.49.7.7,0,0,1-.17.5.74.74,0,0,1-1,0A.71.71,0,0,1,49.85,164.81Z')
    path.cls-2(d='M58.64,158.9h1.1l-2.26,6.47H56.36L54.1,158.9h1.09l1.35,4c.07.19.15.44.23.74s.13.53.15.67q.06-.34.18-.78c.08-.29.14-.51.19-.66Z')
    path.cls-2(d='M63.54,165.37l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29ZM62,164.66a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89V163l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,62,164.66Z')
    path.cls-2(d='M69,164a1.28,1.28,0,0,1-.52,1.1,2.5,2.5,0,0,1-1.5.38,3.53,3.53,0,0,1-1.57-.3v-.9a3.84,3.84,0,0,0,1.61.4q1,0,1-.58a.46.46,0,0,0-.11-.31,1.27,1.27,0,0,0-.35-.26,5.72,5.72,0,0,0-.68-.3,3.15,3.15,0,0,1-1.14-.66,1.21,1.21,0,0,1-.3-.85,1.12,1.12,0,0,1,.51-1,2.4,2.4,0,0,1,1.38-.35,3.92,3.92,0,0,1,1.63.35l-.34.78a3.64,3.64,0,0,0-1.33-.33q-.82,0-.82.47a.47.47,0,0,0,.21.39,4.74,4.74,0,0,0,.94.44,4.26,4.26,0,0,1,.88.43,1.27,1.27,0,0,1,.41.45A1.31,1.31,0,0,1,69,164Z')
    path.cls-2(d='M72.12,165.45a2.14,2.14,0,0,1-1.69-.65,3.29,3.29,0,0,1,0-3.76,2.24,2.24,0,0,1,1.75-.66,3.26,3.26,0,0,1,1.39.29l-.31.84a3.16,3.16,0,0,0-1.09-.26q-1.27,0-1.27,1.69a2,2,0,0,0,.32,1.24,1.09,1.09,0,0,0,.93.41,2.66,2.66,0,0,0,1.31-.34v.91a2.07,2.07,0,0,1-.59.23A3.58,3.58,0,0,1,72.12,165.45Z')
    path.cls-2(d='M79,162.91a2.66,2.66,0,0,1-.61,1.87,2.2,2.2,0,0,1-1.71.67,2.34,2.34,0,0,1-1.21-.31,2,2,0,0,1-.81-.89,3,3,0,0,1-.28-1.34,2.66,2.66,0,0,1,.61-1.86,2.21,2.21,0,0,1,1.72-.67,2.16,2.16,0,0,1,1.68.68A2.64,2.64,0,0,1,79,162.91Zm-3.56,0q0,1.69,1.25,1.69t1.24-1.69q0-1.68-1.25-1.68a1.06,1.06,0,0,0-.95.43A2.2,2.2,0,0,0,75.41,162.91Z')
    path.cls-2(d='M84.17,165.45a1.71,1.71,0,0,1-1.43-.66,3.64,3.64,0,0,1,0-3.74,1.72,1.72,0,0,1,1.44-.67,1.69,1.69,0,0,1,1.47.71h.05a6.24,6.24,0,0,1-.08-.83v-1.78h1v6.88h-.81l-.18-.64h0A1.66,1.66,0,0,1,84.17,165.45Zm.28-.84a1.13,1.13,0,0,0,.93-.36,1.9,1.9,0,0,0,.3-1.17v-.15a2.19,2.19,0,0,0-.3-1.31,1.11,1.11,0,0,0-.94-.39,1,1,0,0,0-.84.45,2.28,2.28,0,0,0-.3,1.27,2.23,2.23,0,0,0,.29,1.24A1,1,0,0,0,84.45,164.61Z')
    path.cls-2(d='M91.22,165.37l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89V163l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,89.68,164.66Z')
    path.cls-2(d='M98.53,161.86h2.38v3.25a6.91,6.91,0,0,1-1.12.27,7.91,7.91,0,0,1-1.16.08,2.91,2.91,0,0,1-2.26-.87,3.5,3.5,0,0,1-.8-2.45,3.27,3.27,0,0,1,.9-2.44,3.38,3.38,0,0,1,2.47-.88,4.83,4.83,0,0,1,1.92.39l-.37.88a3.74,3.74,0,0,0-1.57-.36,2.12,2.12,0,0,0-1.64.65,2.52,2.52,0,0,0-.6,1.78,2.66,2.66,0,0,0,.54,1.8,2,2,0,0,0,1.56.62,5.18,5.18,0,0,0,1.1-.13v-1.67H98.53Z')
    path.cls-2(d='M105.41,165.37l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89V163l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,103.86,164.66Z')
    path.cls-2(d='M111.72,165.37h-1v-3a1.37,1.37,0,0,0-.21-.84.78.78,0,0,0-.66-.28,1,1,0,0,0-.88.39,2.29,2.29,0,0,0-.28,1.3v2.44h-1v-4.89h.81l.15.64h.05a1.35,1.35,0,0,1,.59-.54,1.9,1.9,0,0,1,.85-.19,1.49,1.49,0,0,1,1.49.77h.07a1.5,1.5,0,0,1,.61-.57,2,2,0,0,1,.9-.2,1.64,1.64,0,0,1,1.28.44,2,2,0,0,1,.4,1.35v3.19h-1v-3a1.35,1.35,0,0,0-.21-.84.79.79,0,0,0-.67-.28,1,1,0,0,0-.89.38,2,2,0,0,0-.28,1.16Z')
    path.cls-2(d='M119.32,165.37l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89V163l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,117.78,164.66Z')
    path.cls-2(d='M122.6,164.42a14.75,14.75,0,0,1-.78,2.12h-.76a21.88,21.88,0,0,0,.46-2.22h1Z')
    path.cls-2(d='M131.79,165.37h-1.3l-3.18-5.15h0l0,.29q.06.82.06,1.5v3.36h-1V158.9h1.28l3.17,5.13h0c0-.07,0-.32,0-.74s0-.76,0-1V158.9h1Z')
    path.cls-2(d='M135.82,160.4a1.62,1.62,0,0,1-.39,1.15,1.39,1.39,0,0,1-1.08.42,1.36,1.36,0,0,1-1.05-.42,1.89,1.89,0,0,1,0-2.3,1.4,1.4,0,0,1,1.07-.41,1.38,1.38,0,0,1,1.06.42A1.62,1.62,0,0,1,135.82,160.4Zm-2.19,0a1.27,1.27,0,0,0,.17.73.77.77,0,0,0,1.12,0,1.27,1.27,0,0,0,.17-.73,1.28,1.28,0,0,0-.17-.74.77.77,0,0,0-1.12,0A1.28,1.28,0,0,0,133.63,160.4Z')
    path.cls-2(d='M141.89,165.37h-1v-4.18q0-.75,0-1.18l-.25.23-1,.81-.52-.66,1.9-1.5h.87Z')
    path.cls-2(d='M148.39,161.66a4.44,4.44,0,0,1-.77,2.85,2.82,2.82,0,0,1-2.32.94,3.55,3.55,0,0,1-.84-.07v-.87a2.92,2.92,0,0,0,.79.11,2,2,0,0,0,1.57-.57,2.75,2.75,0,0,0,.57-1.78h-.05a1.56,1.56,0,0,1-.63.58,2,2,0,0,1-.87.18,1.74,1.74,0,0,1-1.35-.54A2.08,2.08,0,0,1,144,161a2.25,2.25,0,0,1,.57-1.61,2,2,0,0,1,1.55-.6,2.07,2.07,0,0,1,2,1.31A3.81,3.81,0,0,1,148.39,161.66Zm-2.26-2a1,1,0,0,0-.83.35,1.52,1.52,0,0,0-.29,1,1.3,1.3,0,0,0,.27.87,1,1,0,0,0,.81.32,1.3,1.3,0,0,0,.88-.31,1,1,0,0,0,.36-.74,1.8,1.8,0,0,0-.15-.74,1.31,1.31,0,0,0-.43-.54A1,1,0,0,0,146.13,159.68Z')
    path.cls-2(d='M37.53,176.24H33.15v-.79l1.67-1.68a14.51,14.51,0,0,0,1-1.07,2.57,2.57,0,0,0,.35-.6,1.6,1.6,0,0,0,.11-.6.91.91,0,0,0-.26-.69,1,1,0,0,0-.73-.25,1.92,1.92,0,0,0-.72.14,3.31,3.31,0,0,0-.8.5l-.56-.69a3.62,3.62,0,0,1,1-.65,3.06,3.06,0,0,1,1.08-.19,2.13,2.13,0,0,1,1.45.47,1.59,1.59,0,0,1,.54,1.27,2.21,2.21,0,0,1-.16.83,3.34,3.34,0,0,1-.48.81,11.08,11.08,0,0,1-1.08,1.13l-1.12,1.09v0h3.07Z')
    path.cls-2(d='M39.05,176.24l2.56-5.54H38.25v-.92h4.47v.73l-2.54,5.73Z')
    path.cls-2(d='M44.22,176.24l2.56-5.54H43.42v-.92h4.47v.73l-2.54,5.73Z')
    path.cls-2(d='M53,173a4.6,4.6,0,0,1-.54,2.5,2,2,0,0,1-3.29,0,4.52,4.52,0,0,1-.56-2.48,4.63,4.63,0,0,1,.54-2.52,2,2,0,0,1,3.29,0A4.55,4.55,0,0,1,53,173Zm-3.34,0a4.72,4.72,0,0,0,.27,1.89,1,1,0,0,0,1.74,0A4.65,4.65,0,0,0,52,173a4.7,4.7,0,0,0-.28-1.88.92.92,0,0,0-.87-.58.91.91,0,0,0-.87.57A4.76,4.76,0,0,0,49.7,173Z')
    path.cls-2(d='M53.75,174.25v-.89H56v.89Z')
    path.cls-2(d='M59.79,176.24h-1v-4.18q0-.75,0-1.18l-.25.23-1,.81-.52-.66,1.9-1.5h.87Z')
    path.cls-2(d='M66.29,172.53a4.44,4.44,0,0,1-.77,2.85,2.82,2.82,0,0,1-2.32.94,3.55,3.55,0,0,1-.84-.07v-.87a2.92,2.92,0,0,0,.79.11,2,2,0,0,0,1.57-.57,2.75,2.75,0,0,0,.57-1.78h-.05a1.56,1.56,0,0,1-.63.58,2,2,0,0,1-.87.18,1.74,1.74,0,0,1-1.35-.54,2.08,2.08,0,0,1-.49-1.47,2.25,2.25,0,0,1,.57-1.61,2,2,0,0,1,1.55-.6A2.07,2.07,0,0,1,66,171,3.81,3.81,0,0,1,66.29,172.53Zm-2.26-2a1,1,0,0,0-.83.35,1.52,1.52,0,0,0-.29,1,1.3,1.3,0,0,0,.27.87,1,1,0,0,0,.81.32,1.3,1.3,0,0,0,.88-.31,1,1,0,0,0,.36-.74,1.8,1.8,0,0,0-.15-.74,1.31,1.31,0,0,0-.43-.54A1,1,0,0,0,64,170.55Z')
    path.cls-2(d='M71.47,176.24H67.08v-.79l1.67-1.68a14.51,14.51,0,0,0,1-1.07,2.57,2.57,0,0,0,.35-.6,1.6,1.6,0,0,0,.11-.6.91.91,0,0,0-.26-.69,1,1,0,0,0-.73-.25,1.92,1.92,0,0,0-.72.14,3.31,3.31,0,0,0-.8.5l-.56-.69a3.62,3.62,0,0,1,1-.65,3.06,3.06,0,0,1,1.08-.19,2.13,2.13,0,0,1,1.45.47,1.59,1.59,0,0,1,.54,1.27,2.21,2.21,0,0,1-.16.83,3.34,3.34,0,0,1-.48.81,11.08,11.08,0,0,1-1.08,1.13l-1.12,1.09v0h3.07Z')
    path.cls-2(d='M79.35,171.73a1.88,1.88,0,0,1-.66,1.55,2.92,2.92,0,0,1-1.89.54h-.67v2.42H75.06v-6.47h1.86a2.81,2.81,0,0,1,1.82.5A1.78,1.78,0,0,1,79.35,171.73Zm-3.22,1.2h.56a2,2,0,0,0,1.19-.28,1,1,0,0,0,.38-.88,1,1,0,0,0-.34-.83,1.69,1.69,0,0,0-1.06-.27h-.73Z')
    path.cls-2(d='M83.59,176.24l-.21-.68h0a2,2,0,0,1-.71.61,2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0V173a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23,2.35,2.35,0,0,0-.72.11,5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29ZM82,175.53a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89v-.42l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,82,175.53Z')
    path.cls-2(d='M87.75,176.33a2.14,2.14,0,0,1-1.69-.65,3.29,3.29,0,0,1,0-3.76,2.24,2.24,0,0,1,1.75-.66,3.26,3.26,0,0,1,1.39.29l-.31.84a3.16,3.16,0,0,0-1.09-.26q-1.27,0-1.27,1.69a2,2,0,0,0,.32,1.24,1.09,1.09,0,0,0,.93.41,2.66,2.66,0,0,0,1.31-.34V176a2.07,2.07,0,0,1-.59.23A3.58,3.58,0,0,1,87.75,176.33Zm.74,1.11q0,1-1.35,1a2,2,0,0,1-.54-.07v-.61a2.21,2.21,0,0,0,.54.06.82.82,0,0,0,.38-.07.28.28,0,0,0,.14-.27q0-.38-.79-.49l.37-.73h.67l-.18.39a1.14,1.14,0,0,1,.55.3A.7.7,0,0,1,88.5,177.43Z')
    path.cls-2(d='M94.61,173.78a2.66,2.66,0,0,1-.61,1.87,2.2,2.2,0,0,1-1.71.67,2.34,2.34,0,0,1-1.21-.31,2,2,0,0,1-.81-.89,3,3,0,0,1-.28-1.34,2.66,2.66,0,0,1,.61-1.86,2.21,2.21,0,0,1,1.72-.67,2.16,2.16,0,0,1,1.68.68A2.64,2.64,0,0,1,94.61,173.78Zm-3.56,0q0,1.69,1.25,1.69t1.24-1.69q0-1.68-1.25-1.68a1.06,1.06,0,0,0-.95.43A2.2,2.2,0,0,0,91,173.78Z')
    path.cls-2(d='M99.8,176.33a1.71,1.71,0,0,1-1.43-.66,3.64,3.64,0,0,1,0-3.74,1.72,1.72,0,0,1,1.44-.67,1.69,1.69,0,0,1,1.47.71h.05a6.24,6.24,0,0,1-.08-.83v-1.78h1v6.88h-.81l-.18-.64h0A1.66,1.66,0,0,1,99.8,176.33Zm.28-.84a1.13,1.13,0,0,0,.93-.36,1.9,1.9,0,0,0,.3-1.17v-.15a2.19,2.19,0,0,0-.3-1.31,1.11,1.11,0,0,0-.94-.39,1,1,0,0,0-.84.45,2.28,2.28,0,0,0-.3,1.27,2.23,2.23,0,0,0,.29,1.24A1,1,0,0,0,100.08,175.49Z')
    path.cls-2(d='M105.93,176.33a2.37,2.37,0,0,1-1.78-.66,2.53,2.53,0,0,1-.64-1.83,2.77,2.77,0,0,1,.6-1.88,2.06,2.06,0,0,1,1.64-.69,2,2,0,0,1,1.53.59,2.25,2.25,0,0,1,.56,1.62V174h-3.26a1.6,1.6,0,0,0,.38,1.09,1.34,1.34,0,0,0,1,.38,3.76,3.76,0,0,0,.81-.08,4.14,4.14,0,0,0,.8-.27V176a3.2,3.2,0,0,1-.77.26A4.72,4.72,0,0,1,105.93,176.33Zm-.19-4.28a1,1,0,0,0-.79.31,1.5,1.5,0,0,0-.36.92h2.22a1.35,1.35,0,0,0-.29-.92A1,1,0,0,0,105.74,172Z')
    path.cls-2(d='M115.49,176.24l-.65-1.8h-2.47l-.63,1.8h-1.11l2.42-6.49h1.15l2.42,6.49Zm-.92-2.71-.61-1.76c0-.12-.11-.3-.18-.56s-.13-.44-.16-.56a10,10,0,0,1-.35,1.19l-.58,1.68Z')
    path.cls-2(d='M119.84,171.26a2.47,2.47,0,0,1,.52,0l-.1,1a1.93,1.93,0,0,0-.46-.05,1.33,1.33,0,0,0-1,.41,1.47,1.47,0,0,0-.39,1.06v2.56h-1v-4.89h.81l.14.86h.05a1.94,1.94,0,0,1,.63-.69A1.51,1.51,0,0,1,119.84,171.26Z')
    path.cls-2(d='M123.24,176.33a2.14,2.14,0,0,1-1.69-.65,3.29,3.29,0,0,1,0-3.76,2.24,2.24,0,0,1,1.75-.66,3.26,3.26,0,0,1,1.39.29l-.31.84a3.16,3.16,0,0,0-1.09-.26q-1.27,0-1.27,1.69a2,2,0,0,0,.32,1.24,1.09,1.09,0,0,0,.93.41,2.66,2.66,0,0,0,1.31-.34V176a2.07,2.07,0,0,1-.59.23A3.58,3.58,0,0,1,123.24,176.33Z')
    path.cls-2(d='M130.09,173.78a2.66,2.66,0,0,1-.61,1.87,2.2,2.2,0,0,1-1.71.67,2.34,2.34,0,0,1-1.21-.31,2,2,0,0,1-.81-.89,3,3,0,0,1-.28-1.34,2.66,2.66,0,0,1,.61-1.86,2.21,2.21,0,0,1,1.72-.67,2.16,2.16,0,0,1,1.68.68A2.64,2.64,0,0,1,130.09,173.78Zm-3.56,0q0,1.69,1.25,1.69t1.24-1.69q0-1.68-1.25-1.68a1.06,1.06,0,0,0-.95.43A2.2,2.2,0,0,0,126.53,173.78Z')
    path.cls-2(d='M134.57,174.84a1.28,1.28,0,0,1-.52,1.1,2.5,2.5,0,0,1-1.5.38A3.53,3.53,0,0,1,131,176v-.9a3.84,3.84,0,0,0,1.61.4q1,0,1-.58a.46.46,0,0,0-.11-.31,1.27,1.27,0,0,0-.35-.26,5.72,5.72,0,0,0-.68-.3,3.15,3.15,0,0,1-1.14-.66,1.21,1.21,0,0,1-.3-.85,1.12,1.12,0,0,1,.51-1,2.4,2.4,0,0,1,1.38-.35,3.92,3.92,0,0,1,1.63.35l-.34.78a3.64,3.64,0,0,0-1.33-.33q-.82,0-.82.47a.47.47,0,0,0,.21.39,4.74,4.74,0,0,0,.94.44,4.26,4.26,0,0,1,.88.43,1.27,1.27,0,0,1,.41.45A1.31,1.31,0,0,1,134.57,174.84Z')
    path.cls-2(d='M37.88,182.6a1.88,1.88,0,0,1-.66,1.55,2.92,2.92,0,0,1-1.89.54h-.67v2.42H33.6v-6.47h1.86a2.81,2.81,0,0,1,1.82.5A1.78,1.78,0,0,1,37.88,182.6Zm-3.22,1.2h.56a2,2,0,0,0,1.19-.28,1,1,0,0,0,.38-.88,1,1,0,0,0-.34-.83,1.69,1.69,0,0,0-1.06-.27h-.73Z')
    path.cls-2(d='M43.4,184.65a2.66,2.66,0,0,1-.61,1.87,2.2,2.2,0,0,1-1.71.67,2.34,2.34,0,0,1-1.21-.31,2,2,0,0,1-.81-.89,3,3,0,0,1-.28-1.34,2.66,2.66,0,0,1,.61-1.86,2.21,2.21,0,0,1,1.72-.67,2.16,2.16,0,0,1,1.68.68A2.64,2.64,0,0,1,43.4,184.65Zm-3.56,0q0,1.69,1.25,1.69t1.24-1.69q0-1.68-1.25-1.68a1.06,1.06,0,0,0-.95.43A2.2,2.2,0,0,0,39.84,184.65Z')
    path.cls-2(d='M47.08,182.13a2.47,2.47,0,0,1,.52,0l-.1,1a1.93,1.93,0,0,0-.46-.05,1.33,1.33,0,0,0-1,.41,1.47,1.47,0,0,0-.39,1.06v2.56h-1v-4.89h.81l.14.86h.05a1.94,1.94,0,0,1,.63-.69A1.51,1.51,0,0,1,47.08,182.13Z')
    path.cls-2(d='M50.33,186.36a2.51,2.51,0,0,0,.76-.12V187a2.11,2.11,0,0,1-.44.13,3,3,0,0,1-.56.05q-1.48,0-1.48-1.56V183h-.67v-.46l.72-.38.35-1h.64v1.09H51V183H49.64v2.62a.73.73,0,0,0,.19.55A.69.69,0,0,0,50.33,186.36Z')
    path.cls-2(d='M55.51,187.11l-.15-.64h-.05a1.47,1.47,0,0,1-.62.53,2.06,2.06,0,0,1-.91.19,1.79,1.79,0,0,1-1.33-.44,1.83,1.83,0,0,1-.44-1.34v-3.2h1v3a1.31,1.31,0,0,0,.23.84.88.88,0,0,0,.72.28,1.15,1.15,0,0,0,1-.39,2.16,2.16,0,0,0,.31-1.31v-2.44h1v4.89Z')
    path.cls-2(d='M61.95,182.22v.57l-.84.16a1.32,1.32,0,0,1,.19.38,1.5,1.5,0,0,1,.08.48,1.46,1.46,0,0,1-.52,1.19,2.18,2.18,0,0,1-1.44.43,2.33,2.33,0,0,1-.42,0,.59.59,0,0,0-.34.49.27.27,0,0,0,.16.25,1.35,1.35,0,0,0,.58.08h.85a1.9,1.9,0,0,1,1.23.34,1.22,1.22,0,0,1,.42,1,1.45,1.45,0,0,1-.69,1.28,3.61,3.61,0,0,1-2,.45,2.74,2.74,0,0,1-1.53-.35,1.15,1.15,0,0,1-.53-1,1.07,1.07,0,0,1,.29-.76,1.54,1.54,0,0,1,.8-.43.78.78,0,0,1-.34-.29.72.72,0,0,1-.13-.41.71.71,0,0,1,.16-.46,1.77,1.77,0,0,1,.46-.38,1.37,1.37,0,0,1-.62-.53,1.57,1.57,0,0,1-.24-.87,1.55,1.55,0,0,1,.5-1.23,2.11,2.11,0,0,1,1.43-.44l.44,0,.34.06Zm-3.84,5.65a.57.57,0,0,0,.3.52,1.67,1.67,0,0,0,.85.18,2.56,2.56,0,0,0,1.26-.24.73.73,0,0,0,.42-.65.48.48,0,0,0-.23-.45,1.82,1.82,0,0,0-.85-.13h-.79a1.1,1.1,0,0,0-.71.21A.69.69,0,0,0,58.1,187.87Zm.45-4.07a1,1,0,0,0,.24.71.9.9,0,0,0,.68.25q.9,0,.9-1a1.09,1.09,0,0,0-.22-.74.84.84,0,0,0-.68-.26.88.88,0,0,0-.68.26A1.08,1.08,0,0,0,58.55,183.8Z')
    path.cls-2(d='M65.91,187.11l-.21-.68h0A2,2,0,0,1,65,187a2.24,2.24,0,0,1-.92.16,1.56,1.56,0,0,1-1.13-.39,1.46,1.46,0,0,1-.4-1.1,1.29,1.29,0,0,1,.56-1.14,3.25,3.25,0,0,1,1.71-.42l.84,0v-.26a1,1,0,0,0-.22-.7.9.9,0,0,0-.68-.23A2.35,2.35,0,0,0,64,183a5.44,5.44,0,0,0-.66.26l-.34-.74a3.7,3.7,0,0,1,.87-.32,4,4,0,0,1,.89-.11,2.11,2.11,0,0,1,1.41.41,1.59,1.59,0,0,1,.48,1.28v3.29Zm-1.55-.71a1.29,1.29,0,0,0,.91-.32,1.15,1.15,0,0,0,.34-.89v-.42l-.63,0a2.15,2.15,0,0,0-1.07.24.75.75,0,0,0-.33.67.65.65,0,0,0,.2.51A.84.84,0,0,0,64.37,186.4Z')
    path.cls-2(d='M69.15,187.11h-1v-6.88h1Z')
    path.cls-2(d='M32.84,30.87a8,8,0,0,1,1.32-.1,2.19,2.19,0,0,1,1.5.44,1.43,1.43,0,0,1,.47,1.12,1.57,1.57,0,0,1-.41,1.14,2.21,2.21,0,0,1-1.63.59,2.37,2.37,0,0,1-.55,0v2.14h-.69Zm.69,2.57a2.31,2.31,0,0,0,.57.06c.83,0,1.34-.4,1.34-1.14s-.5-1-1.26-1a2.89,2.89,0,0,0-.65.06Z')
    path.cls-2(d='M38.06,31.39H36.44V30.8h4v.59H38.76v4.75h-.7Z')
    path.cls-2(d='M40.37,36.45l2.21-5.74h.54l-2.22,5.74Z')
    path.cls-2(d='M47.43,36a3.42,3.42,0,0,1-1.41.25,2.49,2.49,0,0,1-2.64-2.7,2.66,2.66,0,0,1,2.79-2.8,2.86,2.86,0,0,1,1.27.24l-.17.56a2.51,2.51,0,0,0-1.08-.22,2,2,0,0,0-2.08,2.2,1.94,1.94,0,0,0,2.05,2.15,2.76,2.76,0,0,0,1.12-.22Z')
    path.cls-2(d='M52.68,33.41a2.5,2.5,0,0,1-2.48,2.81,2.45,2.45,0,0,1-2.4-2.71,2.53,2.53,0,0,1,2.48-2.8A2.43,2.43,0,0,1,52.68,33.41Zm-4.14.09c0,1.14.62,2.16,1.7,2.16s1.71-1,1.71-2.22c0-1.06-.55-2.17-1.7-2.17S48.54,32.33,48.54,33.5Z')
    path.cls-2(d='M53.58,30.87a7.17,7.17,0,0,1,1.32-.11,2.18,2.18,0,0,1,1.54.44,1.33,1.33,0,0,1,.42,1,1.4,1.4,0,0,1-1,1.36v0a1.33,1.33,0,0,1,.78,1.08,8.49,8.49,0,0,0,.41,1.46h-.71A6.91,6.91,0,0,1,56,34.86c-.16-.74-.44-1-1.07-1h-.65v2.31h-.69Zm.69,2.43H55c.74,0,1.2-.4,1.2-1s-.5-1-1.23-1a2.83,2.83,0,0,0-.68.06Z')
    path.cls-2(d='M57.22,36.45l2.21-5.74H60l-2.22,5.74Z')
    path.cls-2(d='M63.72,33.51c0,1.75-.65,2.72-1.79,2.72s-1.69-.94-1.7-2.64S61,30.91,62,30.91,63.72,31.87,63.72,33.51Zm-2.79.08c0,1.34.41,2.1,1,2.1S63,34.86,63,33.54s-.32-2.1-1-2.1S60.93,32.19,60.93,33.59Z')
    path.cls-2(d='M67.44,31.58h-2l-.2,1.32a2.75,2.75,0,0,1,.42,0,2.17,2.17,0,0,1,1.11.28,1.47,1.47,0,0,1,.74,1.32,1.79,1.79,0,0,1-1.92,1.76,2.52,2.52,0,0,1-1.28-.32l.17-.53a2.3,2.3,0,0,0,1.1.28,1.14,1.14,0,0,0,1.22-1.12c0-.66-.45-1.14-1.48-1.14a5.32,5.32,0,0,0-.71.06L65,31h2.46Z')
    path.cls-2(d='M69.94,31.64h0l-.89.48-.13-.53L70,31h.59v5.15h-.67Z')
    path.cls-2(d='M75.82,31v.46l-2.24,4.69h-.72l2.23-4.55v0H72.58V31Z')
    path.cls-2(d='M76.18,36.45l2.21-5.74h.54l-2.22,5.74Z')
    path.cls-2(d='M82.68,33.51c0,1.75-.65,2.72-1.79,2.72s-1.69-.94-1.7-2.64.74-2.68,1.79-2.68S82.68,31.87,82.68,33.51Zm-2.79.08c0,1.34.41,2.1,1,2.1S82,34.86,82,33.54s-.32-2.1-1-2.1S79.88,32.19,79.88,33.59Z')
    path.cls-2(d='M86.74,33.51c0,1.75-.65,2.72-1.79,2.72s-1.69-.94-1.7-2.64S84,30.91,85,30.91,86.74,31.87,86.74,33.51Zm-2.79.08c0,1.34.41,2.1,1,2.1S86,34.86,86,33.54s-.32-2.1-1-2.1S83.94,32.19,83.94,33.59Z')
    path.cls-2(d='M87.54,35.34a2.33,2.33,0,0,0,1.14.32c.89,0,1.17-.57,1.16-1,0-.72-.66-1-1.33-1h-.39v-.52h.39c.51,0,1.15-.26,1.15-.87,0-.41-.26-.78-.9-.78a1.89,1.89,0,0,0-1,.34l-.18-.51a2.45,2.45,0,0,1,1.35-.4c1,0,1.47.6,1.47,1.23a1.28,1.28,0,0,1-.95,1.21v0a1.34,1.34,0,0,1,1.15,1.32c0,.82-.64,1.54-1.88,1.54a2.62,2.62,0,0,1-1.34-.35Z')
    path.cls-2(d='M91.44,36.14v-.43l.55-.53c1.31-1.25,1.91-1.92,1.92-2.69a.92.92,0,0,0-1-1,1.75,1.75,0,0,0-1.09.44l-.22-.49A2.26,2.26,0,0,1,93,30.91a1.45,1.45,0,0,1,1.58,1.5c0,.95-.69,1.72-1.77,2.76l-.41.38v0h2.31v.58Z')
    path.cls-3(d='M52.87,84.47a10,10,0,0,1,9,9.9,9.94,9.94,0,0,0,0-19.89,10,10,0,0,1-9,9.9v.09ZM51,84.38a9.94,9.94,0,0,1-9-9.9,9.94,9.94,0,1,0,0,19.89,9.94,9.94,0,0,1,9-9.9v-.09Zm-9,10a9.94,9.94,0,0,0,19.89,0Zm0-19.89a9.94,9.94,0,0,1,19.89,0Z')
    polygon.cls-4(points='99.71 104.33 101.22 104.33 101.22 102.96 99.71 102.96 99.71 104.33 99.71 104.33')
    polygon.cls-4(points='92.16 84.66 88.09 74.5 81.75 74.5 81.75 94.34 86.02 94.34 86.03 80.26 92.16 94.56 92.16 94.56 98.3 80.26 98.3 94.34 102.57 94.34 102.57 74.5 96.23 74.5 92.16 84.66 92.16 84.66')
    path.cls-4(d='M111.33,105.69a2.4,2.4,0,0,0-2.25,1.25,2.12,2.12,0,0,0-2.19-1.25,2.28,2.28,0,0,0-2.12,1.15v-1H103.5l0,.89v5.8h1.27v-3.8a2.34,2.34,0,0,1,.29-1.36,1.8,1.8,0,0,1,1.47-.73,1.36,1.36,0,0,1,1.47,1.47v4.43h1.27v-3.75a2.77,2.77,0,0,1,.29-1.44,1.72,1.72,0,0,1,1.43-.71,1.51,1.51,0,0,1,1.28.59,1.64,1.64,0,0,1,.23,1v4.29h1.27v-4.49a2.23,2.23,0,0,0-2.45-2.37Z')
    path.cls-4(d='M83.84,109l1.87-4.72L87.48,109Zm1.21-6L81,112.56h1.37l1-2.51h4.47l1,2.51h1.45l-3.89-9.63Z')
    polygon.cls-4(points='99.85 112.56 101.1 112.56 101.1 105.87 99.85 105.87 99.85 112.56 99.85 112.56')
    path.cls-4(d='M95.12,105.73A2.18,2.18,0,0,0,93,106.95v-1.08H91.71v6.69H93v-3.85a1.78,1.78,0,0,1,1.75-2,1.72,1.72,0,0,1,1.19.45,1.51,1.51,0,0,1,.36,1.15v4.25h1.28V108a2.23,2.23,0,0,0-2.43-2.28Z')
    path.cls-4(d='M104.17,88.12c-.14,4.95,3.22,6.79,7.15,6.88,4.54.11,8-1.84,8-6.21s-3.93-5.09-7-6.09c-1.19-.39-3.4-.73-3.4-2.76,0-1.7,1.47-2.51,3-2.51,1.93,0,2.93,1,3.07,2.94h3.86c0-3.93-3-6.21-6.63-6.21s-7.48,2.1-7.48,6.17c0,3.53,3.89,5.35,6.11,5.92,1.22.32,4.29.67,4.29,2.86s-2.15,2.66-3.76,2.66c-2.07,0-3.29-1.45-3.11-3.65Z')
    path.cls-4(d='M160.22,104l-1.24.4v1.4h-1.19v.92H159v4.47c0,1.09.55,1.43,1.69,1.43a6.18,6.18,0,0,0,1-.08v-1a2.77,2.77,0,0,1-.6.07c-.89,0-.89-.56-.89-.89v-4h1.49v-.92h-1.49V104Z')
    polygon.cls-4(points='155.29 112.56 156.55 112.56 156.55 102.95 155.29 102.95 155.29 112.56 155.29 112.56')
    path.cls-4(d='M151.62,111.07a1.61,1.61,0,0,1-1.43.72c-1.12,0-1.39-.73-1.39-1.16,0-1.36,1.91-1.36,2.41-1.36a5.58,5.58,0,0,1,.72,0,3.14,3.14,0,0,1-.32,1.76Zm1.55-3.39a2,2,0,0,0-.23-1,2.69,2.69,0,0,0-2.37-1,3,3,0,0,0-2.16.72,2.13,2.13,0,0,0-.47,1.27h1.25c0-.27.08-1.13,1.35-1.13a1.53,1.53,0,0,1,1.16.44c.24.29.24.65.24,1.48-.39,0-.59,0-.91,0a5.22,5.22,0,0,0-2.32.44,2.2,2.2,0,0,0-1.17,2c0,1.11.83,2,2.36,2a2.17,2.17,0,0,0,2.07-1.21,3.59,3.59,0,0,0,.12,1h1.13a15.52,15.52,0,0,1-.11-1.68l.05-3.2Z')
    path.cls-4(d='M168.8,106.81a2.3,2.3,0,0,0-2.11-1.07,2.45,2.45,0,0,0-2.17,1.11v-3.91h-1.27v9.61h1.27V109a3.16,3.16,0,0,1,.21-1.41,1.73,1.73,0,0,1,1.57-.89c1.44,0,1.44,1.29,1.44,1.89v4H169v-4.19a3.24,3.24,0,0,0-.23-1.56Z')
    path.cls-4(d='M141.41,108.56a1.79,1.79,0,0,1,1.83-2c1.55,0,1.67,1.33,1.65,2Zm1.85-2.87a3.22,3.22,0,0,0-1.83.49,3.46,3.46,0,0,0-1.32,3.15c0,2.12,1,3.43,3.11,3.43a2.9,2.9,0,0,0,2.31-.89,2.27,2.27,0,0,0,.57-1.4h-1.25a1.45,1.45,0,0,1-1.57,1.39c-1.37,0-1.95-1-1.92-2.41h4.81c0-1.09.09-3.75-2.91-3.75Z')
    path.cls-4(d='M127.14,90.73h-1.75V78.13h1.75c4.83,0,6.57,3.15,6.57,6.3s-1.74,6.3-6.57,6.3Zm10.9-6.3c0-6.87-5.35-10-10.62-10h-6.34V94.35h6.34c5.27,0,10.62-3,10.62-9.92Z')
    polygon.cls-4(points='123.57 112.56 124.83 112.56 124.83 102.95 123.57 102.95 123.57 112.56 123.57 112.56')
    polygon.cls-4(points='136.87 107.07 132.3 107.07 132.3 102.93 130.96 102.93 130.96 112.56 132.3 112.56 132.3 108.21 136.87 108.21 136.87 112.56 138.21 112.56 138.21 102.93 136.87 102.93 136.87 107.07 136.87 107.07')
    path.cls-4(d='M119.75,111.07a1.61,1.61,0,0,1-1.43.72c-1.12,0-1.39-.73-1.39-1.16,0-1.36,1.91-1.36,2.42-1.36a5.58,5.58,0,0,1,.72,0,3.16,3.16,0,0,1-.32,1.76Zm1.55-3.39a2,2,0,0,0-.23-1,2.7,2.7,0,0,0-2.37-1,3,3,0,0,0-2.16.72,2.14,2.14,0,0,0-.47,1.27h1.25c0-.27.08-1.13,1.35-1.13a1.53,1.53,0,0,1,1.16.44c.24.29.24.65.24,1.48-.39,0-.59,0-.91,0a5.21,5.21,0,0,0-2.32.44,2.2,2.2,0,0,0-1.17,2c0,1.11.83,2,2.36,2a2.17,2.17,0,0,0,2.07-1.21,3.59,3.59,0,0,0,.12,1h1.13a15.52,15.52,0,0,1-.11-1.68l.05-3.2Z')
    rect(x='727.67', y='43.48', width='59.57', height='59.57')
    rect.cls-1(x='728.22', y='44.03', width='58.47', height='58.47')
    path(d='M768.83,76.33a5.73,5.73,0,0,1-1.63.26,2.86,2.86,0,0,1,0-5.72,5.73,5.73,0,0,1,1.63.26l-.22,1.14a3.84,3.84,0,0,0-1.22-.22c-.95,0-1.34.7-1.34,1.67s.4,1.67,1.34,1.67a3.84,3.84,0,0,0,1.22-.22Z')
    path(d='M771.21,72.18V75a.45.45,0,0,0,.5.48,2.44,2.44,0,0,0,.47,0v1.11a8.52,8.52,0,0,1-1.13.09c-1.14,0-1.41-.62-1.41-1.49V70.27l1.57-.82V71h1v1.19Z')
    path(d='M774.51,72.18V75a.45.45,0,0,0,.5.48,2.44,2.44,0,0,0,.47,0v1.11a8.52,8.52,0,0,1-1.13.09c-1.14,0-1.41-.62-1.41-1.49V70.27l1.57-.82V71h1v1.19Z')
    path(d='M766.25,52.17a.13.13,0,0,1,.06.17.12.12,0,0,1-.17.06c-.06,0-.22-.16-.19-.22s.24,0,.3,0m5.08-.55c.07,0,.17.23.22.53s0,.55,0,.55-.17-.23-.22-.53,0-.55,0-.56m3.59,4.59c.06-.08.35,0,.43.09a.2.2,0,0,1,0,.27.18.18,0,0,1-.26,0c-.08-.06-.27-.3-.2-.39m3.85,10.48a17.12,17.12,0,0,0-3.28-3.41s-2-.21-3.55-.19a7.22,7.22,0,0,0-.89-1.41c.51.11,1.07,1,1.07,1a8.8,8.8,0,0,0-.28-2.13c-.07-.83.47-1.42,1.57-2.49a1.52,1.52,0,0,1-.21-.48,5.44,5.44,0,0,0-2.61,2.18,4.74,4.74,0,0,1,2.73-2.66l0,.07a2.19,2.19,0,0,0,2.35,1.52c.36.1.74.77.74.77a1.06,1.06,0,0,0,.19.28.73.73,0,0,0,.57,0,4.65,4.65,0,0,1,.56-.68,2.57,2.57,0,0,1-.17-1,5.17,5.17,0,0,1-1.46-1.3,1.26,1.26,0,0,0-.29-.72,4,4,0,0,0-1.21-.92c-.18-.08.25-.74.25-.74a1.28,1.28,0,0,0-1.12.23c-2.4-.12-4.53,1.18-6.41,3.93a3.12,3.12,0,0,1-1.76,1.36c-.42-.23-1-.4-1.25-.54,0,0,.12-.19.24-.43a3.29,3.29,0,0,0,.28-.9c0-.21.2-.33.49-.7.1-.12.17-.41.28-.55s.3-.21.42-.41a1.42,1.42,0,0,0,.08-1.13A1.69,1.69,0,0,0,766,55a1,1,0,0,1,.36.7c.28.1,1.61.5,1.7.5a1,1,0,0,0,.52-.2,1.64,1.64,0,0,0,.33-.61,16,16,0,0,0,.09-2.59l.13,0a3.07,3.07,0,0,1,2.41.34.16.16,0,0,0,.12,0c.12,0,.14-.51,0-1.06s-.28-.88-.38-.88-.06,0-.09.09a3.53,3.53,0,0,1-2.08,1.09l-.13,0-.19-.1a.48.48,0,0,0-.25,0l-.41.07s-.1.05-.11.11a1.79,1.79,0,0,0,0,.21l-1.26.31,0,.2,1.25-.22,0,.06c.13.12.36.41.36.41.08.22-.39,1.23-.41,1.79-.15-.24-1.16-.52-1.44-.78a1,1,0,0,0-.72-.25c-.11,0-.23.09-.42.28a.37.37,0,0,1,.07.24,1.53,1.53,0,0,0-.33-.32c.16,0,.31-.3.41-.51a1.68,1.68,0,0,1-.46-.4,4.42,4.42,0,0,1,0-.52l.15.5a3,3,0,0,0,.94.21c.1,0,.15-.19.15-.19l0-.19.1-.15v-.28a.4.4,0,0,0,.24-.08,3.62,3.62,0,0,0-.24-.49.94.94,0,0,0-.78-1.17c-1.23-.26-1.57,1.29-1.07,1.91a1,1,0,0,1,0,.32c-.11.18-.65.23-1,.21a1.15,1.15,0,0,0-.89.08l-2,.89,0,0-.62.79a1.08,1.08,0,0,0-.18.31s-.76,2.07-.79,2.17-.07.61-.07.61a.49.49,0,0,0,0,.13.55.55,0,0,0,.05.11s.27.38.3.4.18,0,.18,0,0-.28,0-.54a4.08,4.08,0,0,1,.08-.47c0-.05.09-.12.13,0s.05.56.05.56.18.09.2-.05.07-.69.07-.69a2.34,2.34,0,0,0-.24-.46.1.1,0,0,1,0-.11,15.37,15.37,0,0,0,1.22-1.91h0a6.84,6.84,0,0,0,.94-.16,4.17,4.17,0,0,0,.57-.19c.37-.15.68-.19.81,0s.11.48.28.67c.3.34.53.28.53.28s-.37.23-1-.53a.54.54,0,0,0-.76.29c0,.15,0,.3,0,.45,0,.91.2,1.86.13,2-.66.82-1,1.88-.4,2.37a11.07,11.07,0,0,0-3.14.58,2.82,2.82,0,0,0-2-.42c-1.38.21-2,1.39-3.14,2.54a5.54,5.54,0,0,1-4.34,1.48c-.12,0-.16.12-.05.18a4.89,4.89,0,0,0,3.15.57s-.21.4-1.15.67c-.1,0-.08.14,0,.16,3.49.56,4.25-3.69,6.6-4.69a3.77,3.77,0,0,0-1.2,3.69,2.48,2.48,0,0,1-1.19,2.22c-.32.47-.3,2.8-1.46,3.87-.13.13-.93-.17-1,0a3.2,3.2,0,0,0-.61,1.63,2.68,2.68,0,0,0,2.44-1,17.55,17.55,0,0,0,1.64-2.58,1.66,1.66,0,0,1,.71-.79,15.51,15.51,0,0,1,2-.29,8.83,8.83,0,0,1-.93.53,4.08,4.08,0,0,1-.76,2.09c-.12.14-.95-.05-1,.1a3.2,3.2,0,0,0-.41,1.69c.58.19,1.69-.58,2.26-1.33A22.57,22.57,0,0,0,760.14,68a3.89,3.89,0,0,0,2-2,2.18,2.18,0,0,1,1.83-1.3,1.5,1.5,0,0,0-.62.65c1.89.19,2.9,1.22,4.44,1.12a9.2,9.2,0,0,0,2.4-.91c-.29-.27-.54-1.14-.4-1.29a1.56,1.56,0,0,0,1,1.17,1.66,1.66,0,0,0,.53.15,8.92,8.92,0,0,1,3.69-1,10.78,10.78,0,0,1-1.55,1.58c-.45.23-1.28,0-1.59.33a3.77,3.77,0,0,0-.43,1.12c-.11.62,1.07.08,1.07.08a24.32,24.32,0,0,0,3.4-2.34,2.87,2.87,0,0,0-.49-.69A10,10,0,0,1,777.15,66c.3.42.21,1.31.59,1.57a3.47,3.47,0,0,0,1.13.24c.6,0-.1-1.11-.1-1.11')
    path(d='M734.43,84.61h-1.18v-.43h2.88v.43h-1.19v3.46h-.51Z')
    path(d='M737.72,88.08l0-.35h0a1,1,0,0,1-.85.42.8.8,0,0,1-.85-.8c0-.68.6-1,1.68-1v-.06a.58.58,0,0,0-.64-.65,1.39,1.39,0,0,0-.73.21l-.12-.33a1.73,1.73,0,0,1,.92-.25c.85,0,1.06.58,1.06,1.14v1a3.92,3.92,0,0,0,0,.67Zm-.07-1.43c-.55,0-1.18.09-1.18.63a.45.45,0,0,0,.48.48.7.7,0,0,0,.68-.47.53.53,0,0,0,0-.16Z')
    path(d='M739.2,85.28l.4.6c.1.16.19.3.28.46h0c.09-.17.18-.31.28-.46l.39-.59h.55l-1,1.35,1,1.44h-.58l-.41-.63c-.11-.16-.2-.32-.3-.48h0c-.09.17-.19.32-.29.48l-.4.63h-.56l1-1.43-.95-1.37Z')
    path(d='M743.18,88.08l0-.35h0a1,1,0,0,1-.85.42.8.8,0,0,1-.85-.8c0-.68.6-1,1.68-1v-.06a.58.58,0,0,0-.64-.65,1.39,1.39,0,0,0-.73.21l-.12-.33a1.73,1.73,0,0,1,.92-.25c.85,0,1.06.58,1.06,1.14v1a3.92,3.92,0,0,0,0,.67Zm-.07-1.43c-.55,0-1.18.09-1.18.63a.45.45,0,0,0,.48.48.7.7,0,0,0,.68-.47.53.53,0,0,0,0-.16Z')
    path(d='M745.66,84.23a5.86,5.86,0,0,1,1-.07,1.6,1.6,0,0,1,1.09.32,1,1,0,0,1,.34.81,1.14,1.14,0,0,1-.3.83,1.61,1.61,0,0,1-1.19.43,1.74,1.74,0,0,1-.4,0v1.56h-.5Zm.5,1.88a1.7,1.7,0,0,0,.42,0c.61,0,1-.29,1-.83s-.36-.76-.92-.76a2.09,2.09,0,0,0-.47,0Z')
    path(d='M750.1,88.08l0-.35h0a1,1,0,0,1-.85.42.8.8,0,0,1-.85-.8c0-.68.6-1,1.68-1v-.06a.58.58,0,0,0-.64-.65,1.39,1.39,0,0,0-.73.21l-.12-.33a1.73,1.73,0,0,1,.92-.25c.85,0,1.06.58,1.06,1.14v1a3.92,3.92,0,0,0,0,.67ZM750,86.65c-.55,0-1.18.09-1.18.63a.45.45,0,0,0,.48.48.7.7,0,0,0,.68-.47.53.53,0,0,0,0-.16Z')
    path(d='M753.75,85.28c0,.2,0,.43,0,.77v1.62a1.6,1.6,0,0,1-.4,1.28,1.48,1.48,0,0,1-1,.34,1.8,1.8,0,0,1-.93-.23l.13-.39a1.58,1.58,0,0,0,.82.22c.52,0,.9-.27.9-1V87.6h0a1,1,0,0,1-.89.47,1.25,1.25,0,0,1-1.19-1.36,1.34,1.34,0,0,1,1.26-1.48.93.93,0,0,1,.87.48h0l0-.42Zm-.52,1.1a.72.72,0,0,0,0-.23.73.73,0,0,0-.71-.54c-.48,0-.83.41-.83,1.06s.28,1,.83,1a.74.74,0,0,0,.7-.52.88.88,0,0,0,0-.27Z')
    path(d='M756.11,88.08l0-.35h0a1,1,0,0,1-.85.42.8.8,0,0,1-.85-.8c0-.68.6-1,1.68-1v-.06a.58.58,0,0,0-.64-.65,1.39,1.39,0,0,0-.73.21l-.12-.33a1.73,1.73,0,0,1,.92-.25c.85,0,1.06.58,1.06,1.14v1a3.92,3.92,0,0,0,0,.67ZM756,86.65c-.55,0-1.18.09-1.18.63a.45.45,0,0,0,.48.48.7.7,0,0,0,.68-.47.53.53,0,0,0,0-.16Z')
    path(d='M733.58,90a4.3,4.3,0,0,1,.71-.06,1.17,1.17,0,0,1,.8.24.77.77,0,0,1,.25.6.84.84,0,0,1-.22.61,1.18,1.18,0,0,1-.87.31,1.27,1.27,0,0,1-.3,0v1.14h-.37Zm.37,1.38a1.24,1.24,0,0,0,.31,0c.44,0,.72-.22.72-.61s-.27-.56-.67-.56a1.58,1.58,0,0,0-.35,0Z')
    path(d='M737.57,91.81a1,1,0,0,1-1,1.09,1,1,0,0,1-1-1.05,1,1,0,0,1,1-1.09A1,1,0,0,1,737.57,91.81Zm-1.63,0c0,.45.26.79.62.79s.62-.33.62-.8S737,91,736.57,91,735.94,91.44,735.94,91.83Z')
    path(d='M738,91.44c0-.24,0-.45,0-.64h.33v.4h0a.62.62,0,0,1,.57-.45H739v.35h-.13a.52.52,0,0,0-.5.48,1.06,1.06,0,0,0,0,.17v1.09H738Z')
    path(d='M740,90.21v.59h.53v.28H740v1.11c0,.25.07.4.28.4a.86.86,0,0,0,.22,0l0,.28a.92.92,0,0,1-.33.05.52.52,0,0,1-.4-.16.76.76,0,0,1-.14-.53V91.08h-.32V90.8h.32v-.49Z')
    path(d='M742.64,92.29c0,.21,0,.4,0,.56h-.33l0-.33h0a.77.77,0,0,1-.68.38c-.32,0-.71-.18-.71-.9V90.8h.37v1.14c0,.39.12.65.46.65a.53.53,0,0,0,.53-.53V90.8h.37Z')
    path(d='M745,90.8c0,.15,0,.31,0,.56v1.19a1.18,1.18,0,0,1-.29.94,1.09,1.09,0,0,1-.75.25,1.32,1.32,0,0,1-.68-.17l.09-.28a1.15,1.15,0,0,0,.6.16c.38,0,.66-.2.66-.72V92.5h0a.73.73,0,0,1-.65.34.92.92,0,0,1-.87-1,1,1,0,0,1,.92-1.09.68.68,0,0,1,.64.36h0l0-.31Zm-.39.81a.52.52,0,0,0,0-.17.54.54,0,0,0-.52-.39c-.36,0-.61.3-.61.78s.2.74.61.74a.55.55,0,0,0,.52-.38.65.65,0,0,0,0-.2Z')
    path(d='M746.76,92.85l0-.26h0a.76.76,0,0,1-.63.3.58.58,0,0,1-.63-.59c0-.5.44-.77,1.23-.76v0a.42.42,0,0,0-.47-.47,1,1,0,0,0-.53.15l-.08-.25a1.27,1.27,0,0,1,.67-.18c.63,0,.78.43.78.84v.77a2.86,2.86,0,0,0,0,.49Zm-.06-1c-.41,0-.87.06-.87.46a.33.33,0,0,0,.35.36.51.51,0,0,0,.5-.34.39.39,0,0,0,0-.12Z')
    path(d='M747.66,89.84H748v3h-.37Z')
    rect.cls-1(x='659.24', y='42.63', width='61.38', height='61.26')
    rect.cls-5(x='659.24', y='42.63', width='61.38', height='29.48')
    path.cls-1(d='M671.73,48.19c5.58,0,7.94,3.56,7.94,8.35s-2.36,8.35-7.94,8.35H665V48.19Zm0,12.69c2,0,3-1.3,3-4.34s-1-4.34-3-4.34h-1.84v8.69Z')
    path.cls-1(d='M690.08,56.07l1.13-3.56,1.52-4.32H699V64.88h-4.89V58.37l.1-3.17h0l-2.78,7.17h-3.34l-2.78-7.17h0l.12,3.17v6.51h-4.45V48.19h6.17l1.7,4.32L690,56.07Z')
    rect.cls-5(x='659.28', y='103', width='61.33', height='0.89')
