doctype html
html
    head
        title Template
        meta(charset='UTF-8')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet')
        style(type='text/css').
            html { zoom: 0.99; }
            html,
            body {
                padding: 0px !important;
                margin: 0px !important;
            }
            body {
                font-family: 'Open Sans', sans-serif !important;
                width: 878.74px;
                height: 226.77px;
                position: relative;
            }
            svg {
                position: absolute;
                width: 878.74px;
                height: 226.77px;
                padding: 0px;
                margin: 0px;
                top: 5px;
                left: 0px;
            }
            table {
                position: absolute;
                top: 115px;
                left: 660px;
                font-size: 9px;
                line-height: 1.4;
                width: 215px;
            }
            .address {
                font-weight: 600;
            }
    body
        include ./svg
        table(border='0', cellspacing='0', cellpadding='0', align='left')
            tbody
                tr: td.address= name
                tr: td= address
                tr: td= zipcode
                tr: td= city
                tr: td= state
